@import './font-awesome/fontawesome';
@import './font-awesome/fa-solid';
@import './font-awesome/fa-brands';

//---------------------
// Default styles for general config.
//---------------------
@import
  '_reset',
  '_colors',
  '_grid',
  '_variables',
  '_typo',
  '_body',
  '_containers',
  '_general'
;

//---------------------
// Config UI default styles
//---------------------
@import
  'ui/_alerts',
  'ui/_badges',
  'ui/_buttons',
  'ui/_forms',
  'ui/_forms-login',
  'ui/_lists',
  'ui/_selects',
  'ui/_tags'
;

//---------------------
// Add styles for components
//---------------------
@import
  'components/_chart',
  'components/_cta',
  'components/_footer-nav',
  'components/_footer',
  'components/_header-page-bot',
  'components/_modal-body',
  'components/_top-bar',
  'components/_modals',
  'components/_nav',
  'components/_scrool-up',
  'components/_section-title',
  'components/_social-nav',
  'components/_submenu'
;

//---------------------
// Custom Buefy
//---------------------
.modal-close:before {
  height: 2px;
  width: 20px;
}

.modal-close:after {
  height: 20px;
  width: 2px;
}
