.lists {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.title-list {
  font-size: 14px !important;
  margin: 0;
}

.list-item {
  position: relative;
  display: block;
  flex-direction: column;
  padding: 0;
  border-radius: 5px;
  margin: 15px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &--active {
    .list-item-content {
      background-color: #fff;
      box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
    }
  }

  .material-icons {
    transition: all 0.2s ease-in-out;
  }

  &.update-available {
    .material-icons {
      color: $apple-green;
    }
  }
}

.list-item-content {
  background-color: #F6F6F6;
  display: flex;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  position: relative;

  .material-icons {
    position: absolute;
    right: 20px;
    color: #C3C3C3;
    transition: all 0.2s ease-in-out;
  }
}

.list-item__action {
  &:hover {
    .material-icons {
      color: $primary-color;
    }
  }
}

.list-item-tags {
  background-color: #E3E3E3;
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 10px 20px;
}

.badge {
  display: inline-flex;
  position: relative;
  align-items: center;
  a {
    display: inherit;
  }
  .material-icons {
    font-size: 14px;
    margin-left: 5px;
    color: #ffffff;
  }
}
