.modal-close:before {
  height: 2px;
  width: 20px;
}

.modal-close:after {
  height: 20px;
  width: 2px;
}

.avatar-modal {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
}
