.login-tabs {
  .tabs ul {
    border-bottom: 2px solid #fff;
    li {
      margin: 0 10px;
      a {
        border-bottom: 3px solid #fff;
      }
      &.is-active {
        a {
          border-bottom-color: $primary-color;
          color: $dark-green2;
        }
      }
    }
  }
}

.login-action {
  display: flex;
  justify-content: center;

  .btn-login {
    margin-top: 20px;
    padding: 10px 30px;
  }
}
