.navbar {
  list-style: none;
  padding: 0;
  margin: 0 0 0 35px;
  display: flex;
  overflow: hidden;
}

.navbar__item {
  font-size: 12px;
  margin: 0 10px;
  position: relative;
  padding-bottom: 20px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    color: #818181;
    padding: 0 29px;
    display: block;
    text-decoration: none;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &::before {
      content: '';
      height: 15px;
      width: 100%;
      //background-color: blue;
      position: absolute;
      background: url('../images/menu-border.svg') bottom center no-repeat;
      bottom: -15px;
      left: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover,
    &.active{
      //background: url('../images/menu-border.svg') bottom center no-repeat;
      color: $brand-color;

      &::before {
        bottom: 0;
        background: url('../images/menu-border.svg') bottom center no-repeat;
      }
    }

  }
}
